* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 500px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1200px;
}
.container {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    color: black;
    transition: 0.4s;
}
.title:hover {
    color: rgb(61, 129, 65);
    cursor: default;
}
.card {
    transform-style: preserve-3d;
    margin: 5rem 0rem;
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
}

.newzealand {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.75s ease-out;
}
.newzealand img{
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle {
    width: 20rem;
    height: 20rem;
    background: linear-gradient(
        to right,
        rgba(226, 55, 155, 0.836),
        rgba(27, 7, 212, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h1 {
    font-size: 3rem;
    transition: all 0.75s ease-out;
}
.info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.list {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}
.list button {
    padding: 0.5rem 1.5rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
    transition: 0.4s;
}
button:hover {
    background-color: #3a72da;
}
.more-info {
    margin: 5rem 0rem;
    transition: all 0.75s ease-out;
}
.more-info button {
    width: 100%;
    padding: 1rem 0rem;
    background: rgb(61, 185, 169);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    transition: 0.4s;
}
.more-info button:hover {
    background-color: #3a72da;
}